package {{.name}}

//go:generate oapi-codegen -old-config-style -templates=../../tools/create/oapi-codegen/templates -generate types -o types.gen.go -package {{.name}} ../../api/{{.name}}.yml
//go:generate oapi-codegen -old-config-style -templates=../../tools/create/oapi-codegen/templates -generate chi-server -o server.gen.go -package {{.name}} ../../api/{{.name}}.yml
//go:generate oapi-codegen -old-config-style -templates=../../tools/create/oapi-codegen/templates -generate client -o client.gen.go -package {{.name}} ../../api/{{.name}}.yml
//go:generate oapi-codegen -old-config-style -generate spec -o spec.gen.go -package {{.name}} ../../api/{{.name}}.yml
